body{
    background-color: rgb(241, 226, 10);
}

#formulario{
    text-align: center;
    padding: 50px;
    border-width: 140px;
  border-style: solid;
  border-color: rgb(230, 59, 173);
 
}

#tipoEncriptacao{
   font-size: medium;
}

#resultado{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:x-large;
    color: rgb(235, 19, 170);
    margin: 20px;
}
button{

background-color: rgb(241, 50, 184);
font-size: 25px;
}

footer{
    text-align: center;
}

